* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    align-content: center;
    width: 80%;
    margin: auto;
}



body {
    /* padding-left: 10%;
    /* bordure gauche */
    /* padding-right: 10%; */
    /* bordure droite */
    background-color: rgb(219, 169, 43);

    justify-content: center;
    /* centrage du contenu en axe et vertical */
    text-align: center;
    /* centrage de texte du contenu */
    /* width: 100%; */

}

header {
    width: 100%;
}

img {
    width: 100%;
}

h2 {
    background-color: rgb(0, 102, 255);
    color: white;
}

main {
    background-color: white;
    width: 100%;
    text-align: justify;
    display: flex;
    
    padding: 25px 10px 25px 10px;
}

nav {
    background-color: cornflowerblue;
    height: 20%;
    width: 20%;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
}

li {
    padding-bottom: 5px;
}

article {
    width: 60%;
    padding: 10px;
}

aside {
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    width: 20%;
}

.photo {
    padding: 10px 30px 10px 30px;
}

.asideheader {
    color: goldenrod;
    padding-bottom: 20px;
}


/* h3, */
/* p {} */


footer {
    width: 100%;
    background-color: darkblue;
}

small {
    color: white;
}

/* nav{
    width: 100vw;
    height: 100vh;
}
article{
    /* width: 100vw; */
/* width: 50vw; */
/* height: 50vh; */


/* aside{
    width: 100vw;
    height: 100vh;
} */

@media screen and (max-width: 640px) {

    /* body{
        background-color: red;
    } */
    main {
        flex-direction: column;
    }

    nav,
    article,
    aside {
        width: 100%;
    }

    main {
        padding: 0;
    }

    #container {
        width: 100%;
    }


}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    
    #container{
        width: 100%;
      
    }
    

}